/*
Colors used:
Primary Color (Purple): #714476; RGB (113,68,118)
Secondary Color (Orange): #E38C3F; RGB (227,140,63)
Balancing Color (Red): #CE695B; RGB (206,105,91)
Background Color (White): #FFFFFF; RGB (255,255,255)
*/
* {
  box-sizing: border-box;
}

/*text styling*/
body {
  background-color: #ffffff;
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  /* Sets the font size to 16px */
  font-weight: 300;
  /* Sets the font weight to 300 */
  line-height: 1.6;
  /* Sets the line-height to 1.6 * the font-size */
  color: #4a4a4a;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}

h1 {
  font-size: 2.75em;
  font-weight: 700;
  color: #E38C3F;
  text-align: center;
  padding-bottom: 24px;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
  color: #714476;
  text-align: center;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
  color: #E38C3F;
}

h4 {
  font-size: 1.35em;
  font-weight: 400;
  color: #CE695B;
}

strong {
  font-weight: 700;
  color: #714476;
}

.footer h2 {
  font-size: 2.25em;
  font-weight: 700;
  color: #FFFFFF;
  text-align: center;
}

.project-details {
  color: #CE695B;
}

#hero h1 {
  font-size: 2.75em;
  font-weight: 700;
  color: #FFFFFF;
  text-align: center;
  padding-bottom: 24px;
}

#hero span {
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  /* Sets the font size to 16px */
  font-weight: 300;
  /* Sets the font weight to 300 */
  line-height: 1.6;
  /* Sets the line-height to 1.6 * the font-size */
  color: #FFFFFF;
}

#contact p {
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  /* Sets the font size to 16px */
  font-weight: 300;
  /* Sets the font weight to 300 */
  line-height: 1.6;
  /* Sets the line-height to 1.6 * the font-size */
  color: #FFFFFF;
}

/* image styling*/
img {
  width: 100%;
}

.profile {
  width: 40%;
}

/* link styling*/
a {
  color: #714476;
  text-decoration: none;
}

a:visited {
  color: #714476;
}

a:hover,
a:focus {
  color: #CE695B;
  text-decoration: underline;
}

a:active {
  color: #CE695B;
}

#header a {
  color: #FFFFFF;
  text-decoration: none;
}

#header a:hover,
a:focus {
  color: #E38C3F;
  text-decoration: none;
  font-weight: 700;
}

#header a:active {
  color: #E38C3F;
  font-weight: 700;
}

#contact a {
  color: #E38C3F;
  text-decoration: none;
}

#contact a:hover,
a:focus {
  color: #E38C3F;
  text-decoration: underline;
  font-weight: 700;
}

#contact a:active {
  color: #E38C3F;
  font-weight: 700;
}

/* button styling*/
.button {
  display: inline-block;
  background-color: #CE695B;
  color: #ffffff !important;
  /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 30px;
  border-bottom: 2px solid #CE695B;
  /* width of the border, type, color */
  transition: 0.2s opacity;
}

.button:hover, .button:focus {
  opacity: 0.8;
  /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}

.button-secondary {
  display: inline-block;
  background-color: transparent;
  color: #CE695B !important;
  font-weight: 400;
  padding: 10px;
  border-radius: 30px;
  border: 2px solid #CE695B;
  transition: 0.2s opacity;
}

.button-secondary:hover, .button-secondary:focus {
  background-color: #CE695B;
  color: #ffffff !important;
  text-decoration: none;
  font-weight: 700;
  opacity: 0.8;
}

#contact .button-secondary {
  display: inline-block;
  background-color: transparent;
  color: #FFFFFF !important;
  font-weight: 400;
  padding: 10px;
  border-radius: 30px;
  border: 2px solid #FFFFFF;
}

#contact .button-secondary:hover, .button-secondary:focus {
  background-color: #CE695B;
  color: #ffffff !important;
  text-decoration: none;
  opacity: 0.8;
}

.back-to-top {
  position: fixed;
  bottom: 0;
  right: 0;
  display: inline-block;
  padding: 1em;
  margin: 1em;
  background: #FFFFFF;
  color: #CE695B !important;
  border-radius: 30px;
  border: 2px solid #CE695B;
}
.back-to-top:hover {
  cursor: pointer;
  background: #CE695B;
  color: #ffffff !important;
  transition: 0.2s opacity;
  font-weight: 700;
}

/* js styling*/
.project {
  text-align: center;
  padding-top: 30px;
}

.project-details {
  display: none;
  text-align: center!important;
}

/* Layout styling */
header {
  background-color: #714476;
  padding: 10px 0 4px;
  position: fixed;
  width: 100%;
  box-shadow: 7px 7px 15px 0px rgba(50, 50, 50, 0.43);
}

nav>ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav>ul>li {
  display: inline-block;
  padding-left: 15px;
  /*Places all navigation elements in-line*/
}

main {
  padding-top: 145px;
}

footer {
  background-color: #714476;
  text-align: center;
  padding: 10px 0;
}

.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0;
  /* 25px top and bottom, 0 left and right */
}

.logo {
  max-width: 100px;
}

.polished-.button {
  text-align: center;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle, .navtoggle.responsive {
  position: relative;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 35px;
  font-size: 20px;
  padding-right: 0;
}

.navtoggle.responsive nav {
  padding: 24px 0 0;
}

.navtoggle.responsive li {
  display: block;
  padding: 10px 0;
  border-top: 1px solid rgba(255, 127, 80, 0.5);
}

.navtoggle.responsive li:last-child {
  padding: 0 0 10px;
}

#hero {
  background-color: #E38C3F;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

#hero span {
  display: block;
}

#contact ul {
  list-style-type: none;
  padding: 0;
}

#contact ul>li {
  display: inline-block
}

#about {
  text-align: center;
  padding: 10px 0;
}

#about p, h3, li {
  text-align: left;
}

#approach {
  text-align: center;
  padding: 10px 0;
}

#approach p {
  text-align: left;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 15px;
  }

  main {
    padding-top: 140px;
  }

  body {
    font-size: 18px;
  }

  nav>ul {
    margin: 1em 0;
  }

  nav>ul>li {
    display: inline-block;
    /*Places all navigation elements in-line*/
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }

  .col-md-6 {
    width: 50%;
  }

  [class*="col-"] {
    float: left;
    padding: 10px;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  #about h3 {
    margin-top: 0;
  }
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  .col-lg-7 {
    width: 58.33%;
  }

  .col-lg-5 {
    width: 41.66%;
  }

  [class*="col-"] {
    float: left;
    padding: 10px;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  .picture-row {
    display: inline-flex;
  }
}

/* ==============================
  CSS Animation
  ================================= */
@keyframes color-change {
  0% {
    fill: #CE695B;
  }

  50% {
    fill: #839788;
  }

  100% {
    fill: #73877B;
  }
}

@keyframes background-scale {
  from {
    transform: scale(0.9);
  }

  to {
    transform: scale(0.7);
  }
}

.trees, .cloud_1, .cloud_2, .cloud_3 {
  animation: 4s color-change infinite alternate linear;
}

.background {
  animation: 30s background-scale infinite alternate linear;
}
